.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

.btn-icon:hover {
	color: var(--bs-primary);
}

.game-cell {
	width: 85px;
}

.chat-container {
	max-height: 200px;
	transition: all 250ms ease-in-out;
}

.chat-font-size-control {
	font-size: 30px;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

@media (min-width: 768px) {
	.w-md-fit {
		width: fit-content !important;
	}

	.w-md-100 {
		width: 100% !important;
	}

	.h-md-100 {
		width: 100% !important;
	}

	.h-max-md-100 {
		max-width: 100% !important;
	}

	.w-max-md-650px {
		max-width: 650px;
	}

	.chat-container {
		height: 400px;
		max-height: 400px;
	}
}

.read-the-docs {
	color: #888;
}
